<app-common-section></app-common-section>
  <!-- sidebar ends -->
  <div id="main">
    <!-- main image -->
    <!-- <button class="openbtn" (click)="openNav()"> Laguna Beach Fun Directory &nbsp;&nbsp; &#9776;</button>
    <div class="pl-4 imgDiv">
        <img src="/assets/images/having_fun.jpg" class="img_show" alt="">
   </div> -->
   <!-- random text -->
   <div class="pl-4 imgDiv">
    <img src="/assets/images/having_fun.jpg" class="img_show" alt="">
</div>
   <div style="padding-top: 25%;">
   
Who knew that a tiny seaside village could offer such a HUGE array of food, art, shopping, spirits, live entertainment, events & festivals and FUN!

That is in addition to the BEACH, of course!

Please browse our FUN listings by CLICKING THE TOP MENU, and enjoy your day/evening in Laguna Beach!

  </div>
  
