<!-- common sidebar -->
<nav class="w3-sidebar w3-collapse w3-highway-blue w3-animate-left" style="z-index:3;width:200px;" id="mySidebar"><br>

    <div class="w3-container">
       <img src="/assets/images/sll_logo.png" width="65%" height="auto" style="margin-top: 16%;"  ><br><br>
      <h6 style="font-weight: bold">Register</h6>
    </div>
      
    <div class="w3-bar-block" id="side_nav_bar">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a (click)="goto_order()"  class="w3-bar-item w3-button w3-padding order"><i class="fa fa-wpforms fa-fw"></i>  Order</a>
      <a (click)="goto_payment()"   class="w3-bar-item w3-button w3-padding payment"><i class="fa fa-credit-card fa-fw"></i>  Payment</a>
  <!--<a href="menu-setup.php" class="w3-bar-item w3-button w3-padding setup"><i class="fa fa-bars fa-fw"></i>  Menu Setup</a>  
      <a href="profile.php" class="w3-bar-item w3-button w3-padding account"><i class="fa fa-credit-card fa-fw"></i>  Profile</a>
      <a href="index.php?ac=logout" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Sign Out</a>-->
    </div>	
      <!-- <br><br><br><br><br><br><br><br><br><br> -->
  <!-- <p class="w3-small" align="center">Powered by<br><br>
     <a href="https://www.fozzysites.com" target="_blank"><img src="/assets/images/powered_by_white-fozzy.png" width="50%" height="auto"></a><br>
                  </p> -->
  </nav>
