<div class="w3-white">
    <div class="w3-bar w3-top w3-indigo w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
    <span class="w3-bar-item w3-right">Restaurant Project</span>
    </div>
        
    <!-- <?php echo file_get_contents("navigation-admin.html"); ?> -->
    <app-Header></app-Header>
        
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-users"></i> Restaurant Events</b></h5>
    </header>
    
    <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 16px">
    
        <h5><strong>Events</strong></h5>
                
                You can locate an event by searching on any of the criteria shown below or scrolling through the list to find the entry. Clicking EDIT will bring up that restaurant's events.<br><br>
                <mat-form-field appearance="outline" class="float-end">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search restaurant" #input>
                  </mat-form-field> 
                  <!-- <div [hidden]="show_spinner" class="loader"></div> -->
                  <!-- datatable to show the record of the restaurants which have the event calendar option -->
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> # </th>
                      <td mat-cell *matCellDef="let element">{{element.id}}  </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="restaurant_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header="restaurant_name"> Restaurant Name </th>
                      <td mat-cell *matCellDef="let element">{{element.restaurant_name}}</td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="phone_no">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header="phone_no"> Phone </th>
                      <td mat-cell *matCellDef="let element">{{element.phone_no}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="contact_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header="contact_name"> Contact Name </th>
                      <td mat-cell *matCellDef="let element">{{element.contact_name}}  </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="setup" class="text-center" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header="setup"> Setup Mode</th>
                      <td mat-cell *matCellDef="let element"><mat-slide-toggle color="primary" id="setupmodeid{{element.id}}" (change)="click_setup($event,element.id)" [checked]="element.approval_flag=='S'"></mat-slide-toggle> </td>
                    </ng-container> -->
                    <ng-container matColumnDef="edit" class="text-center" >
                        <th mat-header-cell *matHeaderCellDef > Manage </th>
                        <td  mat-cell *matCellDef="let element">
                         
                            <a class="text-center pull-left editLink" id="setup{{element.id}}" (click)="go_details(element.id)">
                            <i  matTooltip="View & Edit"
                            matTooltipPosition="above" class="fa fa-edit"></i>
                        </a>
                      </td>
                    </ng-container>
                            
                       
                            <!-- <ng-container matColumnDef="manage" class="text-center" >
                              <th mat-header-cell *matHeaderCellDef > Status </th>
                              <td  mat-cell *matCellDef="let element">
                               
                                 <button type="button" class="btn btn-success  btn-sm" *ngIf="element.approval_flag=='A'"><small> Approved</small></button>    
                                <button type="button" class="btn btn-warning  btn-sm" *ngIf="element.approval_flag=='U'"><small>Pending</small></button>
                                <button type="button" class="btn btn-primary  btn-sm" *ngIf="element.approval_flag=='S'"><small>Setup</small></button>  

                                <label class="statusAppro" *ngIf="element.approval_flag=='A'">Approved</label>
                                <label class="statusPending" *ngIf="element.approval_flag=='U'">Pending</label>
                                <label class="statusSetup" *ngIf="element.approval_flag=='S'">Setup</label>
                            </td>
                          </ng-container> -->
                   
                     
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
              <br><br>
              
    
        
        
        
        
        
        </div>
  
        
    <!-- <?php echo file_get_contents("footer.html"); ?>	 -->
    <!-- <app-footer></app-footer> -->
        <!-- </div> -->
        
    </div>
    <!-- <script>var mySidebar=document.getElementById("mySidebar");var overlayBg=document.getElementById("myOverlay");function w3_open(){if(mySidebar.style.display==='block'){mySidebar.style.display='none';overlayBg.style.display="none";}else{mySidebar.style.display='block';overlayBg.style.display="block";}}function w3_close(){mySidebar.style.display="none";overlayBg.style.display="none";}</script>
    <script>var sc_project=11145952;var sc_invisible=1;var sc_security="40b893f9";</script>
    <script src="//www.statcounter.com/counter/counter.js" async></script>
    <noscript>
    <div class="statcounter">
    <img class="statcounter" src="//c.statcounter.com/11145952/0/40b893f9/1/" alt="Web Analytics" data-pagespeed-url-hash="1232143930">
    </div>
    </noscript> -->
</div>
<app-footer></app-footer>
<!-- snackbar -->
<div id="snackbar">{{m}}</div>
<!-- spinner -->
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Processing... </p></ngx-spinner>
