<div class="mainContainer">

    <!--<div class="row">
      <div class="column left" style="background-color:">
      </div>-->
        <div class="loginSec">
      <div class="column middle">
        <!-- template driven form for loggin in -->
         <form #logForm="ngForm" (ngSubmit)="logSubmit(logForm.value)">
      <div class="imgcontainer">

        <img src="/assets/images/sll_logo.png" alt="Avatar" class="avatar">
      </div>
    <!-- username field -->
      <div class="container">
        <label for="uname"><b style="color: white">Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" required #uname="ngModel" ngModel>
        <div *ngIf="uname.errors?.required  && (uname.dirty || uname.touched)" class="text-danger"><div class="text-danger" [hidden]="!uname.errors?.required">
          Email is required
        </div>
       <div class="text-danger" [hidden]="!uname.errors?.pattern">
          Not a valid email
       </div></div>
    <!-- field for password -->
        <label for="psw"><b style="color: white">Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required #psw="ngModel" ngModel>
            <div *ngIf="psw.errors?.required && (psw.touched || psw.dirty)" class="text-danger">
              Password is required
            </div>
        <label for="psw" class="forgotPass"><a routerLink="/forgot-password" routerLinkActive="true">Forgot Password?</a></label>  
        <!-- <label for="psw" class="siginUp"><a routerLink="/registration" routerLinkActive="true">Sign Up / Register</a></label>  -->
    <!-- button for login -->
        <button type="submit" [disabled]="logForm.invalid">Login</button>
      </div>
    
      <div class="container">
      </div>
    </form> 
      </div>
        </div>
      <!--<div class="column right" style="background-color:">
      </div>
    </div>-->	
    </div>	
    <!-- <div class="modal" id="change_pass_modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Alert!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Would you like to change your password?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" (click)="go_to_change()">Yes</button>
          </div>
        </div>
      </div>
    </div> -->
<!-- <div id="snackbar">{{message}}</div> -->
<!-- snackbar -->
<div id="snackbar">{{message}}</div>
<!-- spinner -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Processing... </p></ngx-spinner>


   