<div style="cursor: pointer;" id="mySidebar" class="sidebar">
    <!-- sidebar button -->
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <!-- sidebar -->
      <!-- <a ><img src="{{logo_img}}" height="120" width="120" alt=""></a> -->
      <a (click)="go_to_menu()">Menu</a>
      <a (click)="go_to_user_cal()">Entertainment</a>
      <a (click)="go_to_user_restaurant()">Restaurants</a>
      <a >Bars/Happy Hours</a>
      <a >Shopping</a>
      <a >Galleries</a>
      <a >Artists</a>
    </div>
    <div id="main">
        <button class="openbtn" (click)="openNav()"> Laguna Beach Fun Directory &nbsp;&nbsp; &#9776;</button>
       
    </div>
