<div class="w3-white">

    <!-- Top container -->
    <!-- <div class="w3-bar w3-top w3-highway-blue w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
            onclick="w3_open();"><i class="fa fa-bars"></i>  Help</button>
        <span class="w3-bar-item w3-right">SLL Platform</span>
    </div> -->


    <div class="w3-bar w3-top w3-highway-blue w3-large" style="z-index:4;height:42px">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Help</button>
        <span class="w3-bar-item w3-left">Welcome, {{this.name}}</span>
        <span class="w3-bar-item w3-right">SLL Platform</span>
      </div>
    <!-- <?php echo file_get_contents("navigation-setup.html"); ?> -->
    <app-menu-setup-sidebar></app-menu-setup-sidebar>
  
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu" id="myOverlay"></div>
       
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px"><br>
            <!-- <p><strong>Thank You for your payment and participation!</strong><br>
                You can now begin to set-up your platform. Please follow the simple steps below. If you have any
                problems, please do not hesitate to email us: <a
                    href="mailto:Support@shoplocallaguna.com">Support@ShopLocalLaguna.com</a></p> -->
                    <div class="thankYou"><h3>Thank You for your payment and participation!</h3>
                      <p style="font-size: revert;">You can now start setting up your platform. Please follow the steps below. For queries, mail us at <a
                          href="mailto:admin@shoplocal-lagunabeach.com">admin@shoplocal-lagunabeach.com</a></p></div>
            <h5><b><i class="fa fa-wpforms"></i> Restaurant - MENU Platform SET-UP</b></h5>
          
        </header>
        <div class="w3-container w3-white w3-padding-24">
        <!-- setup mode on means that the existing data cannot be modified -->
            <div class="secDifer">
              <div class="alert alert-danger text-center" role="alert"  [hidden]="show_toast">
                <strong>Setup mode is on.</strong>
                 <p>Admin is setting up your menu, you can not modify</p> 
                </div>
              <div class="row">
                <select #select_venue (click)="open_venue(select_venue.value)" class="form-select" >
                  <option value="">Select venue</option>
                  <option *ngFor="let x of getVenues.msg; let i=index;" value="{{x.id}}" >{{x.venue_name}}</option>
              
                </select>
                
                <div class="col-12">
                  <br>
                  
                  <label class="titleCustom"><strong>LOGO</strong></label>
                
                  <!-- <input type="checkbox" id="logo" name="logo" value="Logo"> -->
                  <!-- <p>Upload your logo which needs to be in JPG or PNG format :</p> -->
                </div>
                <div class="col-5">
                 
                  <button hidden (click)="openmodal()" id="hid">Open Modal</button>
                 <label for="logo"><strong>Select File:</strong></label><br>

                  <label for="myfile">Select files:</label>
                  <input type="file" id="myfile"
                  accept=".jpeg,.jpg,.png"
                 
                  [disabled]="break_button"  (change)="selectimage($event)">
                  <!-- <i type="button" [hidden]="logo_preview" class="fa fa-picture-o fa-2x" aria-hidden="true"  data-bs-toggle="modal" data-bs-target="#myModal"></i> -->
                  <p style="font-style: italic">(File format: .jpeg, .jpg, .png maximum size: 2MB)</p>
                 
                   <div class="container1">
                  <div class="img-wrap rounded p-1" [hidden]="logo_preview">
                      <a class="close" (click)="deletephoto('logo_setup')"  [hidden]="!show_toast">&times;</a>
                   
                    <img src="{{img_logo}}"  height="50px" width="50px" data-bs-toggle="modal" data-bs-target="#myModal"> 

                  </div>
                  </div>
                </div>
                <div class="col-5">
                  <label for="logo2"> <strong>Or Logo Url:
                    <i class="fa fa-info-circle tooltipCustom" aria-hidden="true" 
                                #tooltip="matTooltip"
                            matTooltip="You can either upload a logo or prove a url below"
                   ></i>
                  </strong></label>
                  <!-- <p>Please provide a url/website address where we can collect your logo.</p> -->
                  <form>
                      <!-- <label for="url">Enter the url:</label> -->
                      <input type="text" id="url" name="url" value="{{log_url}}" size="28" #logo
                      [disabled]="break_button"
                      (keyup)="checkvalidity($event)" (change)="checkvalidity($event)"><br>
                  </form>
                  <p style="font-style: italic">If we cannot collect the logo from your web site, we will contact you
                  </p>

                </div>
              </div>
            <!-- <h3 class="text-danger text-center" [hidden]="show_toast">As admin set your order,you can not modified</h3> -->


            
               
                <!-- <form > -->
                   
                    <!-- <button (click)="downloadImage()">Preview</button>  -->
                    <br>


                    <!-- <strong><u></u></strong><br> -->

                    <!-- <input type="checkbox" id="logo2" name="logo2" value="Logo Link"> -->
                   
          
            </div>


            <button  class="w3-button w3-green" type="submit" (click)="goto_MenuDatapage(logo.value)" [disabled]="value_logo_url">Submit</button>


        </div>
        <!-- <?php echo file_get_contents("footer.html"); ?>	 -->







        <br>
     
    </div>

    <!-- End page content -->



</div>
<!-- snackbar -->
<div id="snackbar">Something Went Wrong Please Try After Sometime</div>
<div id="snackbar1"><i class="fa fa-warning p-1"></i><span>please provide valid file format within given size</span></div>


<!-- For the image of dinner Section -->
<div class="modal fade in" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Image</h4>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
        </div>
  
        <!-- Modal body -->
        <div class="modal-body text-center">
            
                 <img src="{{img_logo}}"   class="img-fluid">
              
            </div>
  
        
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
         </div>
      </div>
</div>

<!-- For Image Cropper -->
<div id="id01" class="modal">
    <div class="w3-modal-content">
  
      <div class="modal-dialog-sm">
  
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" >Adjust
              Image</h4>
    
        
              <i class="fa fa-times-circle fa-2x" type="button"  (click)="close_it()" ></i>
     
    
          </div>
          
  
          <div class="modal-body">
            <input type="text" hidden value="{{common_value}}" #common>
        
           
            <image-cropper [hidden]="hide" [imageChangedEvent]="common_image"
            [maintainAspectRatio]="true" 
          
            [onlyScaleDown]="false" 
           
            [cropperMaxWidth]=width
            [cropperMaxHeight]=height
            [roundCropper]="false"
            
            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFailed()"
            [style.display]="showCropper ? null: 'none'" [transform]="transform">
          </image-cropper>
          <div class="row">
            <div class="col-5"></div>

            <div class="col-1 text-center">
                <i class="fa fa-minus-circle fa-2x " type="button" [hidden]="ZoomIn"  (click)="zoomOut()"></i>
            </div>
            <div class="col-1 text-center">
                <i class="fa fa-plus-circle fa-2x " type="button" [hidden]="Zoomout" (click)="zoomIn()"></i>
            </div>
        </div>
  
          </div>
          <footer class="w3-container  mt-2 mb-2">
              <div class="row">
                  <div class="col-11"></div>

                  <div class="col-1">
                      <button class="btn btn-danger"   
                    (click)="click_it(common.value)">Save</button>
                </div>

              </div>
          
          </footer>
  
        </div>
  
      </div>
  
    </div>
  </div>
  <!-- image cropper ends here -->